from nanohttp import Controller, json
from restfulpy.controllers import RootController

import ${project_snakecase}
from .foo import FooController


class ApiV1(Controller):
    foos = FooController()

    @json
    def version(self):
        return {
            'version': ${project_snakecase}.__version__
        }


class Root(RootController):
    apiv1 = ApiV1()

